doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Joom
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
        link(rel="stylesheet" href="../public/styles.css")
body
    header
        h1 Joom
    main
    div#welcome
        form
            input(placeholder="room name", required, type="text")
            button Enter Room
    div#room
        h3
        ul
        form
            input(placeholder="message", required, type="text")
            button Send
    script(src="/socket.io/socket.io.js") 
    script(src="/public/app.js") 
    //- main
    //-     div#nickname
    //-         h3 Anonymous
    //-         form
    //-             input(placeholder='nickname' type='text' maxlength=12 required)
    //-             button Save
    //-     div#welcome
    //-         form
    //-             input(placeholder='room name' type='text' required)
    //-             button Enter room
    //-         div
    //-             h3 Open Rooms
    //-             ul#roomList
    //-     div#call
    //-         h3
    //-         div#streamGrid
    //-             div#myStream
    //-                 h4 You
    //-                 video#myFace(autoplay playsinline width="screen")
    //-                 div
    //-                     div#controls
    //-                         button#mute
    //-                             img(src="https://img.icons8.com/windows/32/ffffff/block-microphone.png")
    //-                         button#camera
    //-                             img(src="https://img.icons8.com/external-regular-kawalan-studio/24/ffffff/external-camera-off-user-interface-regular-kawalan-studio.png")
    //-                     select#cameras
    //-             div#peersStream
    //-                 video#peersFace(autoplay playsinline width="screen")
    //-     div#chat
    //-         ul
    //-         div
    //-             form#chatForm
    //-                 input(type="text" required)
    //-                 button#chatSub Send


    //- script(src="/socket.io/socket.io.js")
    //- script(src='/public/app.js')