* {
  box-sizing: border-box;
}

html {
  width: 100%;
}

main {
  padding: 0;
  width: 100%;
}

header {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  color: #fff;
  background: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  gap: 1em;
  justify-content: center;
}

input {
  width: 100%;
  margin: 0;
}

button {
  padding: 0.5rem 1rem;
  margin: 0;
}

#nickname {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}

#welcome > div {
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#roomList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#nickname form,
#welcome form {
  max-width: 285px;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
}

#call {
  margin: 0 2em;
  max-height: 50%;
}

#streamGrid {
  display: flex;
  gap: 1em;
}

#myStream {
  width: 40%;
  position: relative;
}

#myStream h4 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

video#myFace,
video#peersFace {
  width: 100%;
  height: 100%;
  border-radius: 1em;
  box-shadow: 0px 3px 10px -2px #f4f4f4;
  object-fit: cover;
  max-height: 350px;
}

#peersStream {
  width: 100%;
}

#controls {
  position: absolute;
  bottom: 0.4em;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

button#mute,
button#camera {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  padding: 0;
  background-color: #ff0000;
  border: none;
}

select#cameras {
  margin: 1em 0;
  max-width: 100%;
}

#chat {
  margin: 2em;
  margin-top: 5em;
  box-shadow: 0px 3px 10px -2px #f4f4f4;
  border-radius: 1em;
}

form#chatForm {
  box-shadow: none;
  border: none;
  width: 100%;
  padding: 1em;
  max-width: 100%;
}

#chat ul {
  list-style-type: none;
  padding: 1em 0 0 1em;
  overflow-y: scroll;
  max-height: 200px;
}

#chat input {
  width: 100%;
  margin-bottom: 0;
  max-width: 100%;
}

#chat div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

@media screen and (max-width: 425px) {
  #streamGrid {
    flex-direction: column;
  }
  #streamGrid div {
    width: auto;
  }
  #controls {
    position: static;
    transform: none;
  }
  #chat {
    margin-top: 2em;
  }
}
